@model AspCoreEntityPostgres.Models.Otdel

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Otdel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Наименование отедела
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameOtdel)
        </dd>
        <dt class = "col-sm-2">
            Рукводитель
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeadOtdel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Otdel" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">К списку отделов</a>
    </form>
</div>
