@model IEnumerable<AspCoreEntityPostgres.Models.Memo>

@{
    ViewData["Title"] = "Главная страница";
}
<!DOCTYPE html>
<html>
<head>
    <title>ZIK_ECM завод им С.М. Кирова</title>
</head>
<body>
    <h3>Добро пожаловать в ZIK_ECM</h3>
    <div class="row mb-4">
        <div class="col-1 themed-grid-col"><b>Тема</b></div>
        <div class="col-2 themed-grid-col"><b>Статус</b></div>
        <div class="col-1 themed-grid-col"><b>Исполнитель</b></div>
    </div>
    @foreach (var memo in Model)
    {
        <div class="row mb-4">
            <div class="col-1 themed-grid-col">@memo.Thema</div>
            <div class="col-1 themed-grid-col">@memo.Status.NameStatus</div>
            <div class="col-1 themed-grid-col">@memo.UserExecutor.UserFIO</div>
            <div class="col-2 themed-grid-col">
                <form method="get" action="Memos/Details">
                    <input type="hidden" value="@memo.IdMemo" name="id" />
                    <input type="submit" value="Посмотреть" />
                </form>
            </div>
        </div>
    }
</body>
</html>