@model AspCoreEntityPostgres.Models.Dolzh

@{
    ViewData["Title"] = "Delete";
}

<h1>Удаление</h1>

<h3>Вы уверены что хотите удалить это?</h3>
<div>
    <h4>Должность</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
           Отдел
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Otdel.NameOtdel)
        </dd>
        <dt class = "col-sm-2">
            Наименование должности
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameDolzh)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDolzh" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">К списку должностей</a>
    </form>
</div>