@model AspCoreEntityPostgres.Models.User

@{
    ViewData["Title"] = "Edit";
}

@section scripts{
    <script type="text/javascript">
        $(function () {
        // Заполняем таблицу должностей по IdOtdel
        $('#otdels').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetItems")/' + id,
                success: function (data) {
                    // заменяем содержимое присланным частичным представлением
                    $('#IdDolzh').replaceWith(data);
                }
            });
        });
    })
    </script>
}

<h1>Изменить</h1>

<h4>Пользователь</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUser" />
            <div class="form-group">
                ФИО
                <input asp-for="UserFIO" class="form-control" />
                <span asp-validation-for="UserFIO" class="text-danger"></span>
            </div>
            <div class="form-group">
                Логин ОС
                <input asp-for="UserAdLogin" class="form-control" />
                <span asp-validation-for="UserAdLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                Пароль
                <input asp-for="UserPassword" class="form-control" value="" />
                <span asp-validation-for="UserPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                Логин
                <input asp-for="UserLogin" class="form-control" />
                <span asp-validation-for="UserLogin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserConf" class="control-label"></label>
                <input asp-for="UserConf" class="form-control" />
                <span asp-validation-for="UserConf" class="text-danger"></span>
            </div>
            <div class="form-group">
                Отдел
                <select id="otdels" asp-for="IdOtdel" class="form-control" asp-items="ViewBag.IdOtdel"></select>
                <span asp-validation-for="IdOtdel" class="text-danger"></span>
            </div>
            <div class="form-group">
                Должность
                <select id="IdDolzh" asp-for="IdDolzh" class="form-control" asp-items="ViewBag.IdDolzh"></select>
                <span asp-validation-for="IdDolzh" class="text-danger"></span>
            </div>
            <div class="form-group">
                Роль
                <select asp-for="IdRole" class="form-control" asp-items="ViewBag.IdRole"></select>
                <span asp-validation-for="IdRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

